<div id = "result">
    <form name="form" form action="/calculators" method="post"  >
        <input class="textview" name="content">
        <input type="submit" value="Submit This Calculation">
    </form>
</div>

<div id = "keyboard">
    <table>
        <tr>
                <td><input type="button" value="C" onclick="clean()"></td>
                <td><input type="button" value="<" onclick="back()"></td>
                <td><input type="button" value="/" onclick="insert('/')"></td>
                <td><input type="button" value="X" onclick="insert('*')"></td>
            </tr>
            <tr>
                <td><input type="button" class = "number" id="7" value="7" onclick="insert(7)"></td>
                <td><input type="button" class = "number" id="8" value="8" onclick="insert(8)"></td>
                <td><input type="button" class = "number" id="9" value="9" onclick="insert(9)"></td>
                <td><input type="button" value="-" onclick="insert('-')"></td>
            </tr>
            <tr>
                <td><input  type="button" class = "number" id="4" value="4" onclick="insert(4)"></td>
                <td><input  type="button" class = "number" id="5" value="5" onclick="insert(5)"></td>
                <td><input  type="button" class = "number" id="6" value="6" onclick="insert(6)"></td>
                <td><input  type="button" value="+" onclick="insert('+')"></td>
            </tr>
            <tr>
                <td><input  type="button" class = "number" id="1" value="1" onclick="insert(1)"></td>
                <td><input  type="button" class = "number" id="2" value="2" onclick="insert(2)"></td>
                <td><input  type="button" class = "number" id="3" value="3" onclick="insert(3)"></td>
                <td><input  type="button" value="=" onclick="equal()"></td>
            </tr>
            <tr>
                <td><input  type="button" value="0" onclick="insert(0)"></td>
                <td><input  type="button" value="." onclick="insert('.')"></td>
            </tr>
    </table>
</div>   
