<table>
    <thead>
        <tr>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= calculation.user.username %> calculated :</td>
        </tr>

        <tr>
            <td><%= calculation.content %></td>
        </tr>
        
    </tbody>

</table>