
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	font-family: 'Open Sans',sans-serif;
}
#container{
	width: 1000px;
	height: 680px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	margin: 20px auto;
	position: relative;
}
#calculator{
	width: 200px;
	height: 200px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calculations{
	margin:auto; height:250px; 
	width: 800px;
	border: solid 1px #222222; 
	position:absolute; 
	bottom: 0;
	overflow-y: scroll;

}